<!doctype html>
<html lang="en" ng-app="user-interface">

<head>
    <!-- AngularJS and MDL -->
    <script src="node_modules/angular/angular.js"</script>
    <script type="text/javascript" src="https://cdn.rawgit.com/adonespitogo/angular-base64-upload/master/src/angular-base64-upload.js"></script>    

    <!-- Controllers -->
    <script src="js/app.js"></script>
    <script src="controllers/newEntryController.js"></script>
    <script src="services/entryService.js"></script>
	
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
       <title>BulletForms</title>
</head>

<body ng-controller='newEntryCtrl as vm'>
<form name="myForm" class="form-horizontal" role="form" ng-submit="vm.createEntry()">

<!--- TODO: INPUT FOR USER VALUES -->

<div ng-repeat="key in vm.entryData.fields">
    <ng-form name="form">

	<!-- TEXT FIELDS -->
	<div ng-if="key.type=='text'">
	    <label class="col-sm-2 control-label">{{key.label}}</label>
	    <div class="col-sm-6">
		<input class="form-control" type="text" placeholder="{{key.name}}" ng-model="key.data">
	    </div>
	</div>
	
	<!-- IMAGE FIELDS -->
	<div ng-if="key.type=='image'">
	    <label class="col-sm-2 control-label">{{key.label}}</label>
	    <div class="col-sm-6">
	    	<input class="form-control" type="file" ng-model="vm.file" name="inputFile" base-sixty-four-input maxsize="2000" accept="image/*">
	    </div>
	    <label>Preview</label>
	    <img width="90%" src={{'data:image/png;base64,'+vm.file.base64}} />
	</div>

	<!-- DROPDOWN FIELDS -->
	<div ng-if="key.type=='dropdown'">
	    <label class="col-sm-2 control-label">{{key.label}}</label>
	    <div class="col-sm-6">
		<select form="form" class="form-control" ng-model="key.data" ng-options="option for option in key.options"> </select>
	    </div>
	</div>
	
	<!-- CHECKBOX FIELDS -->
	<div ng-if="key.type=='checkbox'">
	   <label class="col-sm-2 control-label">{{key.label}}</label>
	    <div class="col-sm-6" ng-repeat="option in key.options">
		<label>
		<input type="checkbox" class="form-control" name="selected[]" ng-model="key.data" value={{option}} ng-checked="vm.selected.indexOf(option) > -1" ng-click="toggleSelection(option)">
	    	{{option}} </label>
	    </div>
	</div>

	<!-- EMAIL FIELDS -->
	<div ng-if="key.type=='email'">
	    <label class="col-sm-2 control-label">{{key.label}}</label>
	    <div class="col-sm-6">
		<input type="email" ng-model="key.data" class="form-control" placeholder={{key.name}}>
      	    </div>
    	</div>

	<!-- RADIO FIELDS -->
	<div ng-if="key.type=='radio'">
	    <label class="col-sm-2 control-label">{{key.label}}</label>
	    <div class="col-sm-6" ng-repeat="option in key.options">
		<label>
		<input type="radio" name="key.name" value={{option}} ng-model="key.data" class="form-control">
      	    	{{option}} </label>
	    </div>
    	</div>

    </ng-form>
</div>

<button type="submit"> Create </button>
</br>

</form>
</body>
</html>
