html, body {
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
}

/* Login */
#login-card {
    align-items: center;
    justify-content: center;
    padding: 200px;
    background: #CCC;
}

.mdl-card {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

select {
    width: 300px;
    font-size: 15px;
    background-color: transparent;
}

.mdl-selectfield .mdl-selectfield__label {
    display: none;
}

/* Header row */
.mdl-layout--fixed-header .mdl-layout__header .mdl-layout__header-row {
    background: #F44336;
    color: #FFEBEE;
}

/* Side bar */
.mdl-layout__drawer {
    background: #263238;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #CFD8DC;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background: #455A64;
}

.personal-information {
    color: #CFD8DC;
    padding: 20px 0px 0px 30px;
}

.mdl-navigation .selected-link {
    background: #37474F;
}

