<style>
	.mdl-menu{
		height: auto;
		min-height: 50px;
		max-height: 150px;
		overflow-y: auto;	
	}

	.menu-wrapper{
  		position: relative;
	}
</style>

<div id="body"  class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header" ng-include="'app/Shared/topNav/topNavBar.html'"></header>
<!-- =========================================== TABLE ========================================== -->
	<div>
		<custom-mdl-data-table table-options='vm.tableOptions' dt-row-per-page-options='[5,10,15]' dt-multi-select dt-pagination dt-edit='false' dt-toolbar dt-toolbar-import dt-toolbar-export dt-toolbar-search/>
	</div>	
</div>

<!-- =========================================== DIALOG ========================================== -->
<dialog id="create-element-dialog" class="mdl-dialog" >
	<form ng-submit="vm.saveElement(vm.elementType)">
		<div class="mdl-dialog__title" style="padding: 24px 24px 10px">
			<h5>Create {{ vm.elementType == 'text' ? 'textfield' : vm.elementType }}</h5>
		</div>
		<div class="mdl-dialog__content" style="height: 200px ;overflow-y: auto"> <!-- CSS STYLE!!!!!!! -->
			<div id="create-element-dialog-text">

				<!-- ============================================== textfield ============================================ -->
				<div id="create-text" ng-if ="vm.elementType=='text'" ng-init='vm.upgradeDom()'>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input id="dialog-input-textfield-fieldname" class="mdl-textfield__input" ng-model='vm.textfield.fieldName' type="text" ng-required="true"/>
						<label class="mdl-textfield__label" for="dialog-input-textfield-fieldname">Name</label>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input id="dialog-input-default" class="mdl-textfield__input" ng-model='vm.textfield.default' />
						<label class="mdl-textfield__label" for="dialog-input-default">Default</label>
					</div>
				</div>
				<!-- ============================================== checkbox ============================================ -->
				<div id="create-checkbox" ng-if ="vm.elementType == 'checkbox' " ng-init='vm.upgradeDom()'>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input id="dialog-input-checkbox-fieldname" class="mdl-textfield__input" ng-model='vm.checkbox.fieldName' type="text" ng-required="true"/>
						<label class="mdl-textfield__label" for="dialog-input-checkbox-fieldname">Name</label>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input id="dialog-input-checkbox-fieldname" class="mdl-textfield__input" ng-model='vm.checkbox.label' type="text" ng-required="true"/>
						<label class="mdl-textfield__label" for="dialog-input-checkbox-fieldname">Display label</label>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<label for="dialog-input-checkbox-default">Default: </label>
						<label class="mdl-checkbox mdl-js-checkbox" for="dialog-input-checkbox-default">
							<input type="checkbox" id="dialog-input-checkbox-default" class="mdl-checkbox__input" ng-model='vm.checkbox.default'>
							<span class="mdl-checkbox__label">Checked {{vm.checkbox.default}}</span>
						</label>
					</div>
				</div>
				<!-- ============================================== radio ============================================ -->
				<div id="create-radio" ng-if ="vm.elementType == 'radio' " ng-init='vm.upgradeDom()'>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input id="dialog-input-radio-fieldname" class="mdl-textfield__input" ng-model='vm.radio.fieldName' type="text" ng-required="true"/>
						<label class="mdl-textfield__label" for="dialog-input-radio-fieldname">Name</label>
					</div>
					
					<div>
						<label for="dialog-input-radio-options">Options: </label>
						<button type="button" class="mdl-button mdl-js-button mdl-button--icon" ng-click="vm.addOption()">
							<i class="material-icons">add</i>
						</button>
						<button type="button" class="mdl-button mdl-js-button mdl-button--icon" ng-click="vm.removeOption(vm.elementType)">
							<i class="material-icons">remove</i>
						</button>

						<div ng-repeat = "x in vm.getTimes(vm.numOfOptions) track by $index" >
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">     
								 <input id="'dialog-input-radio-option-'+($index+1)}}" class="mdl-textfield__input" ng-model='vm.radio.options[$index]' type="text" ng-required="true" ng-init='vm.upgradeDom()'/>
								 <label class="mdl-textfield__label" for="'dialog-input-radio-option-'+($index+1)}}">option {{$index+1}}</label>
							</div>     
						</div>
					</div>

					<div>
						<label for="dialog-input-radio-default">Default: </label>
						<select id="dialog-input-radio-default" ng-model="vm.radio.default" ng-required="true">
							<option ng-repeat="option in vm.radio.options track by $index" value="{{option}}" >option {{$index+1}}: {{option}}</option> 
						</select>
					</div>

					<div>
						<label for="dialog-input-radio-display">Display: </label>
						<select id="dialog-input-radio-display" ng-model="vm.radio.display" ng-required="true">
							<option value="radioInline" >inline</option>
							<option value="radioMultiline" >vertical</option> 
						</select>
					</div>
				</div>
				<!-- ============================================== dropdown ============================================ -->
				<div id="create-dropdown" ng-if ="vm.elementType == 'dropdown' " ng-init='vm.upgradeDom()'>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input id="dialog-input-dropdown-fieldname" class="mdl-textfield__input" ng-model='vm.dropdown.fieldName' type="text" ng-required="true"/>
						<label class="mdl-textfield__label" for="dialog-input-dropdown-fieldname">Name</label>
					</div>

					<div>
						<label for="dialog-input-dropdown-options">Options: </label>
						<button type="button" class="mdl-button mdl-js-button mdl-button--icon" ng-click="vm.addOption()">
							<i class="material-icons">add</i>
						</button>
						<button type="button" class="mdl-button mdl-js-button mdl-button--icon" ng-click="vm.removeOption(vm.elementType)">
							<i class="material-icons">remove</i>
						</button>

						<div ng-repeat = "x in vm.getTimes(vm.numOfOptions) track by $index" post-repeat-upgrade>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">     
								 <input id="'dialog-input-dropdown-option-'+($index+1)}}" class="mdl-textfield__input" ng-model='vm.dropdown.options[$index]' type="text" ng-required="true" ng-init='vm.upgradeDom()'/>
								 <label class="mdl-textfield__label" for="'dialog-input-dropdown-option-'+($index+1)}}">option {{$index+1}}</label>
							</div>     
						</div>
					</div>

					<div>
						<label for="dialog-input-dropdown-default">Default: </label>
						<select id="dialog-input-dropdown-default" ng-model="vm.dropdown.default" ng-required="true">
							<option ng-repeat="option in vm.dropdown.options track by $index" value="{{option}}" >option {{$index+1}}: {{option}}</option> 
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="mdl-dialog__actions">
			<button id="cancel" type="button" class="mdl-button" ng-click="vm.closeDialog()">Cancel</button>
			<div class="mdl-layout-spacer"></div>
			<button id="save" type="submit" class="mdl-button">Save</button>
		</div>
	</form>
</dialog>
<!-- ========================================= SNACK BAR ========================================= -->
<div id="autofill-feedbackMessage" aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-js-snackbar mdl-snackbar">
	<div class="mdl-snackbar__text"></div>
	<button class="mdl-snackbar__action" type="button"></button>
</div>

   
