<!-- ========================================= DIALOG ========================================= -->
<dialog id="create-element-dialog" class="mdl-dialog" >
	<form ng-submit="vm.saveElement(vm.elementType)">
		<div class="mdl-dialog__title" style="padding: 24px 24px 10px">
			<h5>Create {{ vm.elementType == 'text' ? 'textfield' : vm.elementType }}</h5>
		</div>
		<div class="mdl-dialog__content" style="height: 200px ;overflow-y: auto"> <!-- CSS STYLE!!!!!!! -->
			<div id="create-element-dialog-text">

				<!-- ============================================== textfield ============================================ -->
				<div id="create-text" ng-if ="vm.elementType=='text'" ng-init='vm.upgradeDom()'>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input id="dialog-input-textfield-fieldname" class="mdl-textfield__input" ng-model='vm.textfield.fieldName' type="text" ng-required="true"/>
						<label class="mdl-textfield__label" for="dialog-input-textfield-fieldname">Name</label>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input id="dialog-input-default" class="mdl-textfield__input" ng-model='vm.textfield.default' />
						<label class="mdl-textfield__label" for="dialog-input-default">Default</label>
					</div>
				</div>
				<!-- ============================================== checkbox ============================================ -->
				<div id="create-checkbox" ng-if ="vm.elementType == 'checkbox' " ng-init='vm.upgradeDom()'>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input id="dialog-input-checkbox-fieldname" class="mdl-textfield__input" ng-model='vm.checkbox.fieldName' type="text" ng-required="true"/>
						<label class="mdl-textfield__label" for="dialog-input-checkbox-fieldname">Name</label>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input id="dialog-input-checkbox-fieldname" class="mdl-textfield__input" ng-model='vm.checkbox.label' type="text" ng-required="true"/>
						<label class="mdl-textfield__label" for="dialog-input-checkbox-fieldname">Display label</label>
					</div>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<label for="dialog-input-checkbox-default">Default: </label>
						<label class="mdl-checkbox mdl-js-checkbox" for="dialog-input-checkbox-default">
							<input type="checkbox" id="dialog-input-checkbox-default" class="mdl-checkbox__input" ng-model='vm.checkbox.default'>
							<span class="mdl-checkbox__label">Checked {{vm.checkbox.default}}</span>
						</label>
					</div>
				</div>
				<!-- ============================================== radio ============================================ -->
				<div id="create-radio" ng-if ="vm.elementType == 'radio' " ng-init='vm.upgradeDom()'>
					
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input id="dialog-input-radio-fieldname" class="mdl-textfield__input" ng-model='vm.radio.fieldName' type="text" ng-required="true"/>
						<label class="mdl-textfield__label" for="dialog-input-radio-fieldname">Name</label>
					</div>
					
					<div>
						<label for="dialog-input-radio-options">Options: </label>
						<button type="button" class="mdl-button mdl-js-button mdl-button--icon" ng-click="vm.addOption()">
							<i class="material-icons">add</i>
						</button>
						<button type="button" class="mdl-button mdl-js-button mdl-button--icon" ng-click="vm.removeOption(vm.elementType)">
							<i class="material-icons">remove</i>
						</button>

						<div ng-repeat = "x in vm.getTimes(vm.numOfOptions) track by $index" >
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">     
								 <input id="'dialog-input-radio-option-'+($index+1)}}" class="mdl-textfield__input" ng-model='vm.radio.options[$index]' type="text" ng-required="true" ng-init='vm.upgradeDom()'/>
								 <label class="mdl-textfield__label" for="'dialog-input-radio-option-'+($index+1)}}">option {{$index+1}}</label>
							</div>     
						</div>
					</div>

					<div>
						<label for="dialog-input-radio-default">Default: </label>
						<select id="dialog-input-radio-default" ng-model="vm.radio.default" ng-required="true">
							<option ng-repeat="option in vm.radio.options track by $index" value="{{option}}" >option {{$index+1}}: {{option}}</option> 
						</select>
					</div>

					<div>
						<label for="dialog-input-radio-display">Display: </label>
						<select id="dialog-input-radio-display" ng-model="vm.radio.display" ng-required="true">
							<option value="radioInline" >inline</option>
							<option value="radioMultiline" >vertical</option> 
						</select>
					</div>
				</div>
				<!-- ============================================== dropdown ============================================ -->
				<div id="create-dropdown" ng-if ="vm.elementType == 'dropdown' " ng-init='vm.upgradeDom()'>
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input id="dialog-input-dropdown-fieldname" class="mdl-textfield__input" ng-model='vm.dropdown.fieldName' type="text" ng-required="true"/>
						<label class="mdl-textfield__label" for="dialog-input-dropdown-fieldname">Name</label>
					</div>

					<div>
						<label for="dialog-input-dropdown-options">Options: </label>
						<button type="button" class="mdl-button mdl-js-button mdl-button--icon" ng-click="vm.addOption()">
							<i class="material-icons">add</i>
						</button>
						<button type="button" class="mdl-button mdl-js-button mdl-button--icon" ng-click="vm.removeOption(vm.elementType)">
							<i class="material-icons">remove</i>
						</button>

						<div ng-repeat = "x in vm.getTimes(vm.numOfOptions) track by $index" >
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">     
								 <input id="'dialog-input-dropdown-option-'+($index+1)}}" class="mdl-textfield__input" ng-model='vm.dropdown.options[$index]' type="text" ng-required="true" ng-init='vm.upgradeDom()'/>
								 <label class="mdl-textfield__label" for="'dialog-input-dropdown-option-'+($index+1)}}">option {{$index+1}}</label>
							</div>     
						</div>
					</div>

					<div>
						<label for="dialog-input-dropdown-default">Default: </label>
						<select id="dialog-input-dropdown-default" ng-model="vm.dropdown.default" ng-required="true">
							<option ng-repeat="option in vm.dropdown.options track by $index" value="{{option}}" >option {{$index+1}}: {{option}}</option> 
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="mdl-dialog__actions">
			<button id="cancel" type="button" class="mdl-button" ng-click="vm.closeDialog()">Cancel</button>
			<div class="mdl-layout-spacer"></div>
			<button id="save" type="submit" class="mdl-button">Save</button>
		</div>
	</form>
</dialog>
<!-- ========================================= SNACK BAR ========================================= -->
<div id="autofill-feedbackMessage" aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-js-snackbar mdl-snackbar">
	<div class="mdl-snackbar__text"></div>
	<button class="mdl-snackbar__action" type="button"></button>
</div>
<!-- ========================================= UI-GRID ========================================= -->
<div id="body"  class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<!---------------------------------------- Ng-include nav bars ---------------------------------------->
	<header class="mdl-layout__header" ng-include="'app/Shared/topNav/topNavBar.html'"></header>
	

	<div id="autofillBody" class="mdl-layout__content">
		<!-- ========================================= Buttons =============================================== -->
		<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="vm.resetGrid()" >
			Reset
		</button>

		
		
	
		<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="vm.clearSelected()" ng-if="vm.hasSelection">
			Clear Selection
		</button>

		<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="vm.deleteSelected()" ng-if="vm.hasSelection">
			<i class="material-icons">delete</i>
			Delete Selected
		</button>

		<button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="vm.exportCSV()" ng-if="vm.hasSelection">
			Export
		</button>

		<button id="create-menu-lower-left" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
			<i class="material-icons">add</i> Create
		</button>
		<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="create-menu-lower-left">
			<li class="mdl-menu__item" ng-click="vm.createTextfield()"> Textfield</li>
			<li class="mdl-menu__item" ng-click="vm.createCheckbox()"> Checkbox</li>
			<li class="mdl-menu__item" ng-click="vm.createRadio()"> Radio</li>
			<li class="mdl-menu__item" ng-click="vm.createDropdown()"> Dropdown</li>
		</ul>
		
		<form><input type="file" class="file-chooser" id="files" name="files[]" /></form>
		<div id='search-bar-wrapper'>
			<form ng-submit="vm.read()">
				<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" name="search-bar" id="fixed-header-drawer-exp" ng-model="vm.query">
				</div>
				<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" type="submit">
					<i class="material-icons">search</i>
				</button>
			</form>
		</div>    

	

	<!-- <div>
		<strong>{{ vm.gridOptions.data.length }} rows</strong>
		<br>
		<div id="grid1" ui-grid="vm.gridOptions" ui-grid-cellNav ui-grid-edit ui-grid-row-edit ui-grid-resize-columns ui-grid-pinning ui-grid-selection ui-grid-move-columns ui-grid-importer ui-grid-exporter ui-grid-grouping class="grid"></div>
	</div> -->

	
	<!-- ============================================ new data table =================================================== -->
		
		
		
		<md-card>
			<md-toobar class="md-menu-toolbar">

				<md-menu-bar>
			        <md-menu>
	            		<button ng-click="$mdOpenMenu()">Export</button>
						<md-menu-content>
								<md-menu-item ng-repeat="exportOption in vm.table.options.exportOptions">
									<md-button ng-click="vm.exportCSV(exportOption)">Export {{exportOption}}</md-button>
								</md-menu-item>
						</md-menu-content>
	    			</md-menu>
	    		</md-menu-bar>
			</md-toobar>


			<md-toobar class="md-table-toolbar md-default" ng-hide="vm.table.options.rowSelection && vm.table.selected.length">
				<div class="md-toolbar-tools">
					<span>Autofill Records</span>
				</div>
			</md-toobar>
			<md-toobar class="md-table-toolbar md-default" ng-show="vm.table.options.rowSelection && vm.table.selected.length">
				<div class="md-toolbar-tools">
					<span>{{vm.table.selected.length}} {{vm.table.selected.length > 1 ? 'rows':'row'}} selected</span>
				</div>
			</md-toobar>
			<md-content>
				<md-table-container>
					<table md-table md-row-select="vm.table.options.rowSelection" multiple="{{vm.table.options.multiSelect}}" ng-model="vm.table.selected">
						<thead md-head md-order = "vm.table.options.orderBy" md-on-reorder="logOrder">
							<tr md-row>
								<th md-column md-order-by="{{header}}" ng-repeat='header in vm.table.dataHeader track by $index'>
									<span>{{header}}</span>
								</th>
							</tr>
						</thead>
						<tbody md-body>
							<tr md-row md-select="row" ng-repeat = 'row in vm.table.data | orderBy: vm.table.options.orderBy | limitTo: vm.table.options.rowLimit : vm.table.options.rowLimit * (vm.table.options.page - 1) '>
								<td md-cell ng-repeat = 'header in vm.table.dataHeader track by $index'>{{row[header]}}</td>
							</tr>
						</tbody>
					</table>
				</md-table-container>
				<md-table-pagination md-limit="vm.table.options.rowLimit" md-limit-options="vm.table.options.limitOptions" md-page="vm.table.options.page" md-total="{{vm.table.data.length}}" md-page-select md-boundary-links></md-table-pagination>
			</md-content>
		</md-card>
	</div>
</div>

   
