{{tableOptions.selection.selectedId}}
<table class="mdl-data-table mdl-shadow--2dp">
  	<thead>
    	<tr>
      		<th>
          		<label id='data-table-header-checkbox-label' class="mdl-checkbox mdl-js-checkbox mdl-checkbox__input" for="data-table-header-checkbox">
            		<input type="checkbox" id="data-table-header-checkbox" class="mdl-checkbox__input" ng-model='tableOptions.selection.checked.headerChecked' ng-click='selectVisible($event)'/>
          		</label>
      		</th>
      		<th>
      		</th>

      		<th class="mdl-data-table__cell--non-numeric" ng-repeat="col in tableOptions.tableData.columnDefs track by $index">
      			<a href="" ng-click="sort(col)">
                    {{col}}
                    <span ng-show="tableOptions.sorting.sortBy == header && !tableOptions.sorting.sortReverse" >^</span>
                    <span ng-show="tableOptions.sorting.sortBy == header && tableOptions.sorting.sortReverse" >v</span>
                </a>
      		</th>
    	</tr>
  	</thead>

  	<tbody>
    	<tr ng-repeat='row in tableOptions.tableData.data  | orderBy: tableOptions.sorting.sortBy : tableOptions.sorting.sortReverse | limitTo:tableOptions.pagination.itemPerPage : tableOptions.pagination.startingIndex-1 > 0 ? tableOptions.pagination.startingIndex : 0 track by $index' post-repeat-upgrade>
			<td>
      			<label ng-attr-id="{{'data-table-checkbox-label-' + row._id}}" class="mdl-checkbox mdl-js-checkbox mdl-checkbox__input" for="{{'data-table-checkbox-' + row._id}}">
        			<input type="checkbox" ng-attr-id="{{'data-table-checkbox-' + row._id}}" class="mdl-checkbox__input" ng-model='tableOptions.selection.checked[row._id]' ng-click='selectOne($event,row)'/> 
      			</label>
  			</td>
  			<td>
  				<button class="mdl-button mdl-js-button mdl-button--icon" id='page-navigator-to-first' ng-click='tableOptions.enableRowEdit()'>
					<i class="material-icons">edit</i>
				</button>
  			</td>
  			<td class="mdl-data-table__cell--non-numeric" ng-repeat="col in tableOptions.tableData.columnDefs track by $index">
  				{{row[col]}}
  			</td>	
    	</tr>
  	</tbody>
</table>

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-phone"></div>
	<div class="mdl-cell mdl-cell--1-col mdl-cell--2-col-phone"></div>
	<span flex=''></span>
	<div class="mdl-cell mdl-cell--2-col">
		<div id='page-selection' class='menu-wrapper'>
			<span>Page: </span>
			<button id='page-selection-menu-button' class="mdl-button mdl-js-button">
			{{tableOptions.pagination.currentPage}} <i class="material-icons">arrow_drop_down</i>
			</button>
			<ul class="mdl-menu mdl-menu--top-left mdl-js-menu"
				for="page-selection-menu-button">
				<li class="mdl-menu__item" ng-repeat='num in getTimes(tableOptions.pagination.totalPage) track by $index' ng-click='tableOptions.pagination.currentPage = $index + 1' ng-value='$index + 1'>{{$index + 1}}</li>
			</ul>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--3-col">
		<div id='item-per-page-selection' class='menu-wrapper'>
			<span>Rows per page: </span>
			<button id='item-per-page-selection-menu-button' class="mdl-button mdl-js-button">
				{{tableOptions.pagination.itemPerPage}} <i class="material-icons">arrow_drop_down</i>
			</button>
			<ul class="mdl-menu mdl-menu--top-left mdl-js-menu" for="item-per-page-selection-menu-button">
				<li class="mdl-menu__item" ng-repeat='option in tableOptions.pagination.limitOption' ng-click='tableOptions.pagination.itemPerPage = option' ng-value='option'>{{option}}</li>
			</ul>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--4-col">
		<span id='item-info'>
			{{tableOptions.pagination.startingIndex}} - {{tableOptions.pagination.endingIndex}} of {{tableOptions.pagination.totalItem}}
		<span>
		<span id='page-navigator'>
			<button class="mdl-button mdl-js-button mdl-button--icon" id='page-navigator-to-first' ng-click='toFirstPage()'>
					<i class="material-icons">first_page</i>
			</button>
			<button class="mdl-button mdl-js-button mdl-button--icon" id='page-navigator-to-previous' ng-click='toPreviousPage()'>
					<i class="material-icons">chevron_left</i>
			</button>
			<button class="mdl-button mdl-js-button mdl-button--icon" id='page-navigator-to-next' ng-click='toNextPage()'>
					<i class="material-icons">chevron_right</i>
			</button>
			<button class="mdl-button mdl-js-button mdl-button--icon" id='page-navigator-to-last' ng-click='toLastPage()'>
					<i class="material-icons">last_page</i>
			</button>
		</span>
	</div>
</div> 


