html,
body {
    font-family: 'Roboto', 'Helvetica', 'sans-serif';
}

.center-content {
    align-items: center;
    justify-content: center;
}

/* .color */


/* Login background */

.login-background {
    background: #66ffff;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #66ffff, #6699ff);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #66ffff, #6699ff);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #66ffff, #6699ff);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #66ffff, #6699ff);
    /* Standard syntax (must be last) */
}


/* Login heading */

#login-heading {
    background: #3F51BF;
}


/* Login feedback message */

#fail-feedback-message {
    color: #ff5050;
}


/* Header row nav bar */

.mdl-layout__header-row {
    background: #303F9F;
    color: #e6ecff;
}


/* Header row menu button for side nav */

.mdl-layout__drawer-button {
    background: #303F9F !important;
}


/* Side nav bar drawer */

.mdl-layout__drawer .color {
    background: #37474F;
    height: 100%;
}

.mdl-layout__drawer .color .mdl-navigation .mdl-navigation__link {
    color: #CFD8DC;
}

.mdl-layout__drawer .color .mdl-navigation .mdl-navigation__link:hover {
    background: #263238;
}

.mdl-layout__drawer .color #personal-information {
    color: #CFD8DC;
    padding: 20px 0px 0px 30px;
}

.mdl-layout__drawer .color .mdl-navigation .selected-link {
    background: #263238;
}


/* New entry elements header .color */

#elements-heading {
    background: #3F51BF !important;
}


/* Delete buttons .color */

.delete-button {
    background: #ff0000 !important;
}


/* Login */
#login-button {
    width: 100%;
}

select {
    width: 300px;
    font-size: 15px;
    background-color: transparent;
}

.md-sidenav-left.md-closed-add,
.md-sidenav-left.md-closed-remove {
    transition: 0.2s ease-in all;
}


/* Settings */

#account-settings {
    padding: 0px 30px;
}

#settings-grid {
    padding: 30px;
}

#progressBarStorage {
    width: 300px;
}


/* Commons */

.top-row-buttons {
    padding: 10px 10px;
    left: 0;
}

.divider {
    width: 10px;
    height: 10px;
}


/* New entry */

#elements-drawer {
    background: white;
    padding: 10px 0px;
    position: fixed;
}


/* Entries */

#grid-entries {
    height: 400px !important;
}

#elements {
    border: grey 1px solid;
    padding: 5px;
    height: 350px;
    overflow-y: scroll;
}

.img {
    padding: 16px 32px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex-start;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#submit-button {
    width: 100%;
}

.selectInDialog {
    width: 80%;
    border: 1px solid grey;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.mdl-menu__item {
    line-height: 48px !important;
    color: black !important;
}

.mdl-layout__content {
    margin: 64px 0px 0px 0px;
}