<div class="mdl-layout__container">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<!---------------------------------------- Ng-include nav bars ---------------------------------------->
		<header class="mdl-layout__header" ng-include="'views/topNavBar.html'"></header>
		<div id="side-nav-drawer" class="mdl-layout__drawer" ng-include="'views/sideNavBar.html'"></div>

		<main class="mdl-layout__content">
			<div id="forms" class="page-content">
				<!---------------------------------------- Top row buttons ---------------------------------------->
				<div id="top-row-buttons" class="mdl-grid">
					<!-- Add page -->
					<button name="addPage" ng-click="vm.addPage()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        			<i class="material-icons" role="presentation">add</i> Add Page</button>
					<div class="divider"></div>
					<!-- Previous page -->
					<button name="toPreviousPage" ng-click="vm.toPreviousPage()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        			<i class="material-icons" role="presentation">keyboard_arrow_up</i> Previous Page</button>
					<div class="divider"></div>
					<!-- Next page -->
					<button name="toNextPage" ng-click="vm.toNextPage()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        			<i class="material-icons" role="presentation">keyboard_arrow_down</i> Next Page</button>
					<div class="divider"></div>
					<!-- Preview -->
					<button name="preview" ng-click="vm.previewStart()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        			Preview</button>
					<div class="divider"></div>
					<!-- Download PDF -->
					<button name="Download PDF" ng-click="vm.downloadPDF()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        			<i class="material-icons" role="presentation">file_download</i> Download PDF</button>
					<div class="divider"></div>
					<div class="mdl-layout-spacer"></div>
					<!-- Delete -->
					<button id="delete-button" name="deletePage" ng-click="vm.deletePage()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
       				<i class="material-icons" role="presentation">delete</i> Delete Page</button>
				</div>

				<div class="mdl-grid" id="newForm-content">
					<!---------------------------------------- Top elements card ---------------------------------------->
					<div id="toolbar" >
						<div class="mdl-tabs mdl-js-tabs">
							<div class="mdl-tabs__tab-bar">
								<a id="borderPanel" href="#border-panel" class="mdl-tabs__tab is-active">Border</a>
								<a id="fontPanel" href="#font-panel" class="mdl-tabs__tab">Font</a>
								<a id="backgroundPanel" href="#background-panel" class="mdl-tabs__tab">Background</a>
								<a id="contentPanel" href="#content-panel" class="mdl-tabs__tab">Content</a>
								<div class="mdl-layout-spacer"></div>
								<!-- Hide Toolbar -->
								<button name="hide" id="hideToolbar" ng-click="vm.hideToolbar()" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
       							Hide</button>
							</div>
							<div class="mdl-tabs__panel is-active" id="border-panel">
								<label>Border Style:
		    						<select id="editBorderStyle" ng-model="vm.element.style.borderStyle">
		    							<option value="solid">Solid</option>
		    							<option value="dashed">Dashed</option>
		    							<option value="dotted">Dotted</option>
		    							<option value="none">None</option>
		    						</select>
		    					</label>
								<label>Border Width:
								<select id="editBorderWidth" ng-model="vm.element.style.borderWidth">
									<option ng-repeat="option in vm.availableBorderWidth" value="{{option}}">{{option}}</option>
								</select>
								</label>
								<label>Border Radius:
								<select id="editBorderRadius" ng-model="vm.element.style.borderRadius">
									<option ng-repeat="option in vm.availableBorderRadii" value="{{option}}">{{option}}</option>
								</select>
								</label>
								<label>Border Color:
								<select id="editBorderColor" ng-model="vm.element.style.borderColor" style={{"color:"+vm.element.style.borderColor}}>
									<option ng-repeat="option in vm.colorsArray" value="{{option}}">{{option}}</option>
								</select>
								</label>
							</div>
							<div class="mdl-tabs__panel" id="font-panel">
								<label>Font Size:
								<select id="editFontSize" ng-model="vm.element.style.fontSize">
									<option ng-repeat="option in vm.availableFontsizes" value="{{option}}">{{option}}</option>
								</select>
								</label>
								<label>Font Type:
								<select id="editFontFamily" ng-model="vm.element.style.fontFamily" style={{"font-family:"+vm.element.style.fontFamily}}>
									<option ng-repeat="option in vm.fontsArray" value="{{option}}">{{option}}</option>
								</select>
								</label>
								<label>Font Color:
								<select id="editFontColor" ng-model="vm.element.style.color" style={{"color:"+vm.element.style.color}}>
									<option ng-repeat="option in vm.colorsArray" value="{{option}}">{{option}}</option>
								</select>
								</label>
								<label>Text Decoration:
								<select id="editTextDecoration" ng-model="vm.element.style.textDecoration">
									<option value="none">None</option>
									<option value="overline">Overline</option>
									<option value="line-through">Line-through</option>
									<option value="underline">Underline</option>
								</select>
								</label>
							</div>
							<div class="mdl-tabs__panel" id="background-panel">
								<label id="editBackgroundColorLabel">Background Color:
								<select id="editBackgroundColor"
								ng-model="vm.element.style.backgroundColor" style={{"background-color:"+vm.element.style.backgroundColor}}>
									<option ng-repeat="option in vm.colorsArray" value="{{option}}">{{option}}</option>
								</select>
							</label>
								<label>Opacity:
								<input id="editOpacity" type="range" max="1" min="0" step="0.01"  ng-model="vm.element.style.opacity">
								</label>
							</div>
							<div class="mdl-tabs__panel" id="content-panel">
								<label>Content:
	    						<textarea rows="3"  id="editContent" ng-model="vm.element.innerHTML"></textarea>
	    						</label>
								<label id="editRequiredLabel"><input id="editRequired" type="checkbox" ng-model="vm.element.required"> Required field?</label>
								<!-- Delete element -->
								<button id="delete-button" name="delete" ng-click="vm.deleteElement()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
								<i class="material-icons" role="presentation">delete</i> Delete Element</button>
							</div>
						</div>
					</div>
					<!---------------------------------------- Left elements card ---------------------------------------->
					<div id="elements-drawer" class="mdl-card mdl-cell mdl-cell--3-col">

						<div class="mdl-card__actions">
							<button id="submit-button" type="submit" class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect">Save</button>
						</div>
					</div>

					<!---------------------------------------- Right canvas ---------------------------------------->
					<div class="mdl-cell mdl-cell--3-offset mdl-cell--9-col">

					</div>
				</div>
			</div>
		</main>
	</div>
</div>