<div class="mdl-layout__container">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<!---------------------------------------- Ng-include nav bars ---------------------------------------->
		<header class="mdl-layout__header" ng-include="'views/topNavBar.html'"></header>
		<div id="side-nav-drawer" class="mdl-layout__drawer" ng-include="'views/sideNavBar.html'"></div>

		<main class="mdl-layout__content">
			<div id="forms" class="page-content">
				<!---------------------------------------- Top row buttons ---------------------------------------->
				<div id="top-row-buttons" class="mdl-grid">
					<!-- Add page -->
					<button name="addPage" ng-click="vm.addPage()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        			<i class="material-icons" role="presentation">add</i> Add Page</button>
					<div class="divider"></div>
					<!-- Previous page -->
					<button name="toPreviousPage" ng-click="vm.toPreviousPage()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        			<i class="material-icons" role="presentation">keyboard_arrow_up</i> Previous Page</button>
					<div class="divider"></div>
					<!-- Next page -->
					<button name="toNextPage" ng-click="vm.toNextPage()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        			<i class="material-icons" role="presentation">keyboard_arrow_down</i> Next Page</button>
					<div class="divider"></div>
					<!-- Preview -->
					<button name="preview" ng-click="vm.previewStart()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        			Preview</button>
					<div class="divider"></div>
					<!-- Download PDF -->
					<button name="Download PDF" ng-click="vm.downloadPDF()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        			<i class="material-icons" role="presentation">file_download</i> Download PDF</button>
					<div class="divider"></div>
					<div class="mdl-layout-spacer"></div>
					<!-- Delete -->
					<button id="delete-button" name="deletePage" ng-click="vm.deletePage()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
       				<i class="material-icons" role="presentation">delete</i></button>
				</div>

				<div class="mdl-grid" id="newForm-content">
					<!---------------------------------------- Left elements card ---------------------------------------->
					<div id="elements-drawer" class="mdl-card mdl-cell mdl-cell--3-col">
						
						<div class="mdl-card__actions">
							<button id="submit-button" type="submit" class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect">Save</button>
						</div>
					</div>

					<!---------------------------------------- Right canvas ---------------------------------------->
					<div class="mdl-cell mdl-cell--3-offset mdl-cell--9-col">

					</div>
				</div>
			</div>
		</main>
	</div>
</div>