<div class="mdl-layout__container">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header" ng-include="'views/topNavBar.html'"></header>
    <div id="side-nav-drawer" class="mdl-layout__drawer" ng-include="'views/sideNavBar.html'"></div>
    <main class="mdl-layout__content">
      <div id="forms" class="page-content">
        <div id="top-row-buttons" class="mdl-grid">
          <button ng-click="openDialog('newForm')" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons" role="presentation">add</i> New Form</button>
          <div class="divider"></div>
          <!---------------------------------------- Dialog for new form ---------------------------------------->
          <dialog id="newForm" class="mdl-dialog">
            <div class="mdl-dialog__content">
              <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">Create new form</button>
              <p>
                Or choose an existing form.
              </p>
              <div id="existing-forms" class="mdl-selectfield">
                <label class="mdl-selectfield__label">Existing forms</label>
                <select>
                        <option ng-repeat="formName in formNames">{{ formName.name }}</option>
                </select>
              </div>
            </div>
            <div class="mdl-dialog__actions">
              <button id="cancel" type="button" class="mdl-button" ng-click="closeDialog('newForm')">Close</button>
              <div class="mdl-layout-spacer"></div>
              <button id="use-existing" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">Use existing form</button>
            </div>
          </dialog>
          
          <button ng-click="openDialog('newEntry')" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons" role="presentation">add</i> New Entry</button>
          <div class="divider"></div>
          <!---------------------------------------- Dialog for new entry ---------------------------------------->
          <dialog id="newEntry" class="mdl-dialog">
            <div class="mdl-dialog__content">
              <p>
                Choose a form.
              </p>
              <div id="existing-forms" class="mdl-selectfield">
                <label class="mdl-selectfield__label">Existing forms</label>
                <select>
                        <option ng-repeat="formName in formNames">{{ formName.name }}</option>
                </select>
              </div>
            </div>
            <div class="mdl-dialog__actions">
              <button id="cancel" type="button" class="mdl-button" ng-click="closeDialog('newEntry')">Close</button>
              <div class="mdl-layout-spacer"></div>
              <a ui-sref="newentry"><button id="use-existing" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">Use form</button></a>
            </div>
          </dialog>

          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="openDialog('renameForm')">Rename</button>
          <div class="divider"></div>
          <!---------------------------------------- Dialog for rename ---------------------------------------->
          <dialog id="renameForm" class="mdl-dialog">
            <div class="mdl-dialog__content">
              <p>
                Please input new name.
              </p>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input ng-model="formName" class="mdl-textfield__input" type="text" />
                <label class="mdl-textfield__label" for="formName">Form Name</label>
              </div>
            </div>
            <div class="mdl-dialog__actions">
              <button id="cancel" type="button" class="mdl-button" ng-click="closeDialog('renameForm')">Close</button>
              <div class="mdl-layout-spacer"></div>
              <button id="confirm-rename" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click="renameForm()">Confirm</button>
            </div>
          </dialog>

          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Duplicate</button>
          <div class="divider"></div>
          <div class="mdl-layout-spacer"></div>
          <button id="delete-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons" role="presentation">delete</i></button>
        </div>
        
        <!---------------------------------------- Table for forms stub ---------------------------------------->
        <div>
          <div id="grid-forms" ui-grid="gridOptions" ui-grid-selection class="grid"></div>
        </div>
      </div>
    </main>
  </div>
</div>