<div class="color mdl-layout mdl-js-layout">
    <div id="login-background">
        <div id="login-card" class="mdl-card">
            <main class="mdl-layout__content mdl-color--white">
                <div id="login-heading" class="mdl-card__title mdl-color-text--white">
                    <h2 class="mdl-card__title-text">BulletForms Login</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <form id="login-form" action="#">
                        <!-- Username input -->
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input id="username" class="mdl-textfield__input" type="text" />
                            <label class="mdl-textfield__label" for="username">Username</label>
                        </div>
                        <br>
                        <!-- Password input -->
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input id="password" class="mdl-textfield__input" type="password" />
                            <label class="mdl-textfield__label" for="password">Password</label>
                        </div>
                    <!-- Login button -->
                    <div class="mdl-card__actions">
                        <a ui-sref="forms"><button id="login-button" type="submit" class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect">
                        Log in
                        </button></a>
                    </div>
                    </form>
                    <br>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Forgot password?</a>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>