<div class="mdl-layout__container">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header" ng-include="'views/topNavBar.html'"></header>
    <div class="mdl-layout__drawer" ng-include="'views/sideNavBar.html'"></div>
    <main class="mdl-layout__content">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Elements</span>
                <form>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input id="name" class="mdl-textfield__input" type="text" />
                        <label class="mdl-textfield__label" for="name">Name</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input id="nric" class="mdl-textfield__input" type="text" />
                        <label class="mdl-textfield__label" for="nric">NRIC</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input id="gender" class="mdl-textfield__input" type="text" />
                        <label class="mdl-textfield__label" for="gender">Gender</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input id="whatever" class="mdl-textfield__input" type="text" />
                        <label class="mdl-textfield__label" for="whatever">Whatever</label>
                    </div>
                </form>
            </div>
            <main class="mdl-layout__content">
                <div class="img">
                    <img src="http://www.ideabook.com/tutorials/images/ib_form_after.gif">
                </div>
            </main>
        </div>
    </main>
</div>
</div>