					<div id="toolbar" style="display:align">
						<div class="mdl-tabs mdl-js-tabs">
							<div class="mdl-tabs__tab-bar">
								<a id="borderPanel" href="#border-panel" class="mdl-tabs__tab is-active">Border</a>
								<a id="fontPanel" href="#font-panel" class="mdl-tabs__tab">Font</a>
								<a id="backgroundPanel" href="#background-panel" class="mdl-tabs__tab">Background</a>
								<a id="contentPanel" href="#content-panel" class="mdl-tabs__tab">Content</a>
								<input type="button" display="inline-block" value="Hide toolbar" name="hide" ng-click="vm.hideToolbar()">
							</div>
							<div class="mdl-tabs__panel is-active" id="border-panel">
								<label style="display:inline">Border Style
		    	<select id="editBorderStyle" ng-model="vm.element.style.borderStyle">
		    		<option value="solid">Solid</option>
		    		<option value="dashed">Dashed</option>
		    		<option value="dotted">Dotted</option>
		    		<option value="none">None</option>
		    	</select>
		    </label>
								<label style="display:inline">Border Width:
			    <select id="editBorderWidth" ng-model="vm.element.style.borderWidth">
			      	<option ng-repeat="option in vm.availableBorderWidth" value="{{option}}">{{option}}</option>
			    </select>
		    </label>
								<label style="display:inline">Border Radius:
			    <select id="editBorderRadius" ng-model="vm.element.style.borderRadius">
			      	<option ng-repeat="option in vm.availableBorderRadii" value="{{option}}">{{option}}</option>
			    </select>
		    </label>
								<label style="display:inline">Border Color:
			    <select id="editBorderColor" ng-model="vm.element.style.borderColor" style={{"color:"+vm.element.style.borderColor}}>
			      	<option ng-repeat="option in vm.colorsArray" value="{{option}}">{{option}}</option>
			    </select>
		    </label>
							</div>
							<div class="mdl-tabs__panel" id="font-panel">
								<label style="display:inline">Font-size:
			    <select id="editFontSize" ng-model="vm.element.style.fontSize">
			      	<option ng-repeat="option in vm.availableFontsizes" value="{{option}}">{{option}}</option>
			    </select>
		    </label>
								<label style="display:inline">Font Type:
			    <select id="editFontFamily" ng-model="vm.element.style.fontFamily" style={{"font-family:"+vm.element.style.fontFamily}}>
			      	<option ng-repeat="option in vm.fontsArray" value="{{option}}">{{option}}</option>
			    </select>
		    </label>
								<label style="display:inline">Font Color:
			    <select id="editFontColor" ng-model="vm.element.style.color" style={{"color:"+vm.element.style.color}}>
			      	<option ng-repeat="option in vm.colorsArray" value="{{option}}">{{option}}</option>
			    </select>
		    </label>
								<label>Text Decoration:
		    	<select id="editTextDecoration" ng-model="vm.element.style.textDecoration">
		    		<option value="none">None</option>
		    		<option value="overline">Overline</option>
		    		<option value="line-through">Line-through</option>
		    		<option value="underline">Underline</option>
		    	</select>
		    </label>
							</div>
							<div class="mdl-tabs__panel" id="background-panel">
								<label id="editBackgroundColorLabel">Background Color:
			    <select id="editBackgroundColor"
			      ng-model="vm.element.style.backgroundColor" style={{"background-color:"+vm.element.style.backgroundColor}} >
			    	<option ng-repeat="option in vm.colorsArray" value="{{option}}">{{option}}</option>
			    </select>
		    </label>
								<label>Opacity:
		    <input id="editOpacity" type="range" max="1" min="0" step="0.01"  ng-model="vm.element.style.opacity">
			</label>
							</div>
							<div class="mdl-tabs__panel" id="content-panel">
								<label id="editRequiredLabel"><input id="editRequired" type="checkbox" ng-model="vm.element.required">Required field?</label>

								<label>Content:
	    	<textarea rows="3" id="editContent" ng-model="vm.element.innerHTML" style="resize:none;white-space:pre-wrap"></textarea>
	    	</label>
								<input type="button" display="inline-block" name="delete" value="Delete" ng-click="vm.deleteElement()">
							</div>
						</div>
					</div>

