<!---------------------------------------- Dialog for newForm ---------------------------------------->
<dialog id="newForm" class="mdl-dialog">
    <form id="createForm-form" ng-submit="vm.createForm()">
        <div class="mdl-dialog__content">
            <label class="mdl-selectfield__label">Select form group</label>
            <select class="selectInDialog" ng-model="vm.newFormGroup" required>
                <option ng-repeat="data in vm.groups">{{ data }}</option>
            </select>
            <br>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input id="newFormName" class="mdl-textfield__input" type="text" ng-model="vm.newFormName" placeholder="Form name" ng-required="true" required>
                <label class="mdl-textfield__label" for="newFormName">Form name</label>
            </div>
        </div>
        <div class="mdl-dialog__actions">
            <button id="cancel" type="button" class="mdl-button" ng-click="vm.closeDialog('newForm')">Close</button>
            <input type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" value="Create form" for="createForm-form">
        </div>
    </form>
</dialog>
<!---------------------------------------- Dialog for newGroup ---------------------------------------->
<dialog id="newGroup" class="mdl-dialog">
    <div class="mdl-dialog__content">
        <label>Input new group name</label>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="newGroupName" class="mdl-textfield__input" type="text" ng-model="vm.newGroupName" placeholder="Group name" ng-required="true" required>
            <label class="mdl-textfield__label" for="newGroupName">Group name</label>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button id="cancel" type="button" class="mdl-button" ng-click="vm.closeDialog('newGroup')">Close</button>
        <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click="vm.addNewGroup()">Create group</button>
    </div>
</dialog>
<!---------------------------------------- Dialog for renameGroup ---------------------------------------->
<dialog id="renameGroup" class="mdl-dialog">
    <form id="renameGroup-form" ng-submit="vm.renameGroup()">
        <div class="mdl-dialog__content">
            <label>Rename old group name</label>
            <select class="selectInDialog" ng-model="vm.renameGroupOld" ng-required="true" required>
                <option ng-repeat="data in vm.groups">{{ data }}</option>
            </select>
            <br>to
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input ng-model="vm.renameGroupNew" class="mdl-textfield__input" type="text" placeholder="New group name" ng-required="true" />
                <label class="mdl-textfield__label" for="renameGroupNew">New group name</label>
            </div>
        </div>
        <div class="mdl-dialog__actions">
            <button id="cancel" type="button" class="mdl-button" ng-click="vm.closeDialog('renameGroup')">Close</button>
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" for="renameGroup-form">Rename</button>
        </div>
    </form>
</dialog>
<!---------------------------------------- Dialog for deleteGroup ---------------------------------------->
<dialog id="deleteGroup" class="mdl-dialog">
    <div class="mdl-dialog__content">
        <label>Select group to delete</label>
        <select class="selectInDialog" ng-model="vm.deleteGroupName" ng-init="vm.deleteGroupName = vm.groups[0]">
            <option ng-repeat="data in vm.groups">{{ data }}</option>
        </select>
    </div>
    <div class="mdl-dialog__actions">
        <button id="cancel" type="button" class="mdl-button" ng-click="vm.closeDialog('deleteGroup')">Close</button>
        <div class="mdl-layout-spacer"></div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click="vm.deleteGroup()">Delete</button>
        <br>
    </div>
</dialog>
<!---------------------------------------- Dialog for renameForm ---------------------------------------->
<dialog id="renameForm" class="mdl-dialog">
    <div class="mdl-dialog__content">
        <p>
            Please input new name.
        </p>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input ng-model="vm.renameFormNew" class="mdl-textfield__input" type="text" />
            <label class="mdl-textfield__label" for="formName">New Form Name</label>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button id="cancel" type="button" class="mdl-button" ng-click="vm.closeDialog('renameForm')">Close</button>
        <div class="mdl-layout-spacer"></div>
        <button id="confirm-rename" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent" ng-click="vm.renameForm()">Confirm</button>
    </div>
</dialog>
<!---------------------------------------- Dialog for duplicateForm ---------------------------------------->
<dialog id="duplicateForm" class="mdl-dialog">
    <form ng-submit="vm.duplicateForm()">
        <div class="mdl-dialog__content">
            <label>Selected Form</label>
            <br>
            <p>{{"Group: "+vm.gridApi.selection.getSelectedRows()[0].groupName+" Form: "+vm.gridApi.selection.getSelectedRows()[0].formName;}}</p>
            <label>Duplicate to group:</label>
            <select class="selectInDialog" ng-model="vm.duplicateTo" required>
                <option ng-repeat="data in vm.groups">{{ data }}</option>
            </select>
            <br>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input ng-model="vm.duplicateName" class="mdl-textfield__input" type="text" required />
                <label class="mdl-textfield__label" for="duplicateName">New form name</label>
            </div>
        </div>
        <div class="mdl-dialog__actions">
            <button id="cancel" type="button" class="mdl-button" ng-click="vm.closeDialog('duplicateForm')">Close</button>
            <div class="mdl-layout-spacer"></div>
            <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">Duplicate</button>
        </div>
    </form>
</dialog>
<!---------------------------------------- Ng-include nav bars ---------------------------------------->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div top-nav-bar></div>
    <!---------------------------------------- Main forms ---------------------------------------->
    <main class="mdl-layout__content">
        <div id="forms" class="page-content">
            <span us-spinner="{radius:30, width:8, length: 30,speed:1.5,opacity:0.15,scale:1.5}" spinner-key="spinner-1"></span>
            <div id="top-row-buttons" class="mdl-grid">
                <button id="manageForms" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Manage forms</button>
                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="manageForms">
                    <li class="mdl-menu__item mdl-navigation__link" ng-click="vm.openDialog('newForm')"><i class="material-icons">add</i> New form</li>
                    <li class="mdl-menu__item mdl-navigation__link" ng-show="vm.gridOptions.selection.selectedId.length === 1" ng-click="vm.openDialog('renameForm')"><i class="material-icons">edit</i> Rename form</li>
                    <li class="mdl-menu__item mdl-navigation__link" ng-show="vm.gridOptions.selection.selectedId.length === 1" ng-click="vm.openDialog('duplicateForm')"><i class="material-icons">content_copy</i> Duplicate form</li>
                    <li class="mdl-menu__item mdl-navigation__link" ng-click="vm.deleteForms()"><i class="material-icons">delete</i> Delete form</li>
                </ul>
                <div class="divider"></div>
                <button id="manageGroups" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"><i class="material-icons" role="presentation"></i>Manage groups</button>
                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="manageGroups">
                    <li class="mdl-menu__item mdl-navigation__link" ng-click="vm.openDialog('newGroup')"><i class="material-icons">add</i> New group</li>
                    <li class="mdl-menu__item mdl-navigation__link" ng-click="vm.openDialog('renameGroup')"><i class="material-icons">edit</i> Rename group</li>
                    <li class="mdl-menu__item mdl-navigation__link" ng-click="vm.openDialog('deleteGroup')"><i class="material-icons">delete</i> Delete group</li>
                </ul>
                <div class="divider"></div>
                <button ng-click="vm.toNewEntry()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-show="vm.showNewEntry()"><i class="material-icons" role="presentation">add</i> New Entry</button>
                <div class="divider"></div>
                <button id="downloadMenu" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-show="vm.gridOptions.selection.selectedId.length"><i class="material-icons">vertical_align_bottom</i> Download</button>
                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="downloadMenu">
                    <li class="mdl-menu__item mdl-navigation__link" ng-click="vm.downloadAsOne()">Download one</li>
                    <li class="mdl-menu__item mdl-navigation__link" ng-click="vm.downloadSeparate()">Download separately</li>
                </ul>
                <div class="divider"></div>
                <div class="mdl-layout-spacer"></div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="vm.showImportant()">Show Important</button>
                <div class="divider"></div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-click="vm.showRecent()">Show Recent</button>
                <div class="divider"></div>
                <button id="importance" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Importance</button>
                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="importance">
                    <li class="mdl-menu__item mdl-navigation__link" ng-click="vm.setImportant()"><i class="material-icons" role="presentation">bookmark</i>Set important</li>
                    <li class="mdl-menu__item mdl-navigation__link" ng-click="vm.setNormal()"><i class="material-icons" role="presentation">bookmark_outline</i>Set normal</li>
                </ul>
            </div>
            <!-- Table for forms stub -->
            <div ng-style="vm.getTableHeight()">
                <!-- <div id="grid-forms" ui-grid="vm.gridOptions" ui-grid-resize-columns ui-grid-move-columns ui-grid-selection ui-grid-pagination ui-grid-auto-resize ng-style="vm.getTableHeight()" class="grid"></div> -->
            </div>
            <custom-mdl-data-table table-options='vm.gridOptions' />
            <!-- Snack Bar -->
            <div id="snackbarContainer" aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-js-snackbar mdl-snackbar">
                <div class="mdl-snackbar__text"></div>
                <button class="mdl-snackbar__action" type="button"></button>
            </div>
        </div>
    </main>
</div>
