<!Doctype html>
<html ng-app="app">
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-touch.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
        <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
        <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
        <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/3.1.1/ui-grid.js"></script>
        <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css"> 
              
        <link rel="stylesheet" href="/node_modules/material-design-lite/material.css">
        <script src="/node_modules/material-design-lite/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!--<link rel="stylesheet" href="node_modules/angular-material/angular-material.css" type="text/css">
        <script type="text/javascript" src='node_modules/angular-material/angular-material.js'></script>-->
        <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    </head>
  <body>




<div ng-controller="MainCtrl">
    <div>
        <!-- ========================================= Buttons =============================================== -->
        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="read()" >
            Reset
        </button>

        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="importCSV()">
            Import
        </button>

        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="clearSelected()" ng-if="hasSelection">
            Clear Selection
        </button>

        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="deleteSelected()" ng-if="hasSelection">
            <i class="material-icons">delete</i>
            Delete Selected
        </button>

        <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="exportCSV()" ng-if="hasSelection">
            Export
        </button>




        

    <div>
        <!-- ======================================== Search Bar ============================================== -->
    <form ng-submit="read()">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
              mdl-textfield--floating-label mdl-textfield--align-right">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="fixed-header-drawer-exp">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" name="search-bar" id="fixed-header-drawer-exp" ng-model="query">
            </div>
        </div>
    </form>

    <p>{{hasSelection}}</p>
    <strong>{{query}}</strong>
    <br> 
    <strong>{{ myData.length }} rows</strong>
    <br>
    <div id="grid1" ui-grid="gridOptions" ui-grid-cellNav ui-grid-edit ui-grid-row-edit ui-grid-resize-columns ui-grid-pinning ui-grid-selection ui-grid-move-columns ui-grid-importer ui-grid-exporter ui-grid-grouping class="grid"></div>
  
</div>





    <script src="autofill.module.js"></script>
  </body>
</html>
