<body ng-controller="newEntryCtrl as vm">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!---------------------------------------- Ng-include nav bars ---------------------------------------->
    <header class="mdl-layout__header" ng-include="'app/Shared/topNav/topNavBar.html'"></header>
    
    <div id="entryBody" class="mdl-layout__content">
        <div id="pagebar" class="mdl-grid">
            
            <button name="toPreviousPage" value="Previous Page" ng-click="vm.toPreviousPage()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"><i class="material-icons">keyboard_arrow_up</i> Previous page</button>
            <div class="divider"></div>
            <button name="toNextPage" value="Next Page" ng-click="vm.toNextPage()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"><i class="material-icons">keyboard_arrow_down</i> Next page</button>
            <div class="divider"></div>
            <button name="toPreviousForm" value="Previous Form" ng-click="vm.toPreviousForm()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"><i class="material-icons">keyboard_arrow_down</i> Previous form</button>
            <div class="divider"></div>
            <button name="toNextForm" value="Next Form" ng-click="vm.toNextForm()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"><i class="material-icons">keyboard_arrow_down</i> Next form</button>
        
        </div>
        
        <section id="form" style="height: 1123px; width: 794px;border:2px solid black;">
            <div ng-init="displayPageBar = false" class="container" style="height:50px; width: 794px;z-index:100;position:absolute;" ng-mouseover="displayPagebar = true" ng-mouseleave="displayPagebar = false"> 
                     <div id="hidden-pagebar" ng-show="displayPagebar">
                    <label>{{"Current Page: "+vm.currentPageNumber+"/"+ vm.numberOfPages}}</label>
                    <label>{{"Current Form: "+vm.currentFormNumber+"/"+ vm.numberOfForms}}</label>
                    <form ng-submit="vm.goToPage()" style="display:inline">
                        <label>Page: <input type="number" name="input" ng-model="vm.goToPageNumber" min="1" max="{{vm.numberOfPages}}" required></label>
                        <input type="submit" value="Go" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored">
                    </form>
                </div>
            </div>
            
            <div class="page" id="page1" ondrop="angular.element(document.getElementById('formBuilderBody')).scope().vm.drop(event)"
                ondragover="angular.element(document.getElementById('formBuilderBody')).scope().vm.allowDrop(event)" style="height:1123px;width:794px">
            <div style="background-color:white;height:1123px;width:794px;z-index:-2;top:100px;left:400px;position:absolute"></div>
        </section>
    </div>
</div>
</body>
            

        